body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
}

select, input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

video {
    display: block;
    margin: 0 auto;
}

.alert {
    text-align: center;
    font-weight: bold;
}

#channelList .d-flex {
    justify-content: space-between;
    align-items: center;
}

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

button {
    margin-left: 10px;
}

small {
    font-size: 12px;
    color: #555;
}

.badge {
    font-size: 12px;
    margin-left: 10px;
}

.badge.bg-success {
    background-color: #28a745;
}

.badge.bg-danger {
    background-color: #dc3545;
}

.badge.bg-info {
    background-color: #17a2b8;
}

